In [12]:
import pandas as pd
import openpyxl

In [8]:
print(pd.__version__)

2.3.3

In [ ]:
from pathlib import Path

file_path = Path(r"C:\Users\sarac\OneDrive\Documentos\GitHub\telco_churn_project\telco_churn_project\data")

print(file_path.exists())
print(file_path)


demographics = pd.read_excel(file_path / "Telco_customer_churn_demographics.xlsx")
location = pd.read_excel(file_path / "Telco_customer_churn_location.xlsx")
population = pd.read_excel(file_path / "Telco_customer_churn_population.xlsx")
services = pd.read_excel(file_path / "Telco_customer_churn_services.xlsx")
status = pd.read_excel(file_path / "Telco_customer_churn_status.xlsx")

for df in [demographics, location, population, services, status]:
    print(df.shape)
    print(df.head())
    df.info()
    print("-" * 50)

True
C:\Users\sarac\OneDrive\Documentos\GitHub\telco_churn_project\telco_churn_project\data
(7043, 9)
  Customer ID  Count  Gender  Age Under 30 Senior Citizen Married Dependents  \
0  8779-QRDMV      1    Male   78       No            Yes      No         No
1  7495-OOKFY      1  Female   74       No            Yes     Yes        Yes
2  1658-BYGOY      1    Male   71       No            Yes      No        Yes
3  4598-XLKNJ      1  Female   78       No            Yes     Yes        Yes
4  4846-WHAFZ      1  Female   80       No            Yes     Yes        Yes

   Number of Dependents
0                     0
1                     1
2                     3
3                     1
4                     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer ID           7043 non-null   object
 1   Count                 7043 non-null   int64
 2   Gender                7043 non-null   object
 3   Age                   7043 non-null   int64
 4   Under 30              7043 non-null   object
 5   Senior Citizen        7043 non-null   object
 6   Married               7043 non-null   object
 7   Dependents            7043 non-null   object
 8   Number of Dependents  7043 non-null   int64
dtypes: int64(3), object(6)
memory usage: 495.3+ KB
--------------------------------------------------
(7043, 9)
  Customer ID  Count        Country       State         City  Zip Code  \
0  8779-QRDMV      1  United States  California  Los Angeles     90022
1  7495-OOKFY      1  United States  California  Los Angeles     90063
2  1658-BYGOY      1  United States  California  Los Angeles     90065
3  4598-XLKNJ      1  United States  California    Inglewood     90303
4  4846-WHAFZ      1  United States  California     Whittier     90602

                 Lat Long   Latitude   Longitude
0   34.02381, -118.156582  34.023810 -118.156582
1  34.044271, -118.185237  34.044271 -118.185237
2  34.108833, -118.229715  34.108833 -118.229715
3  33.936291, -118.332639  33.936291 -118.332639
4  33.972119, -118.020188  33.972119 -118.020188
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  7043 non-null   object
 1   Count        7043 non-null   int64
 2   Country      7043 non-null   object
 3   State        7043 non-null   object
 4   City         7043 non-null   object
 5   Zip Code     7043 non-null   int64
 6   Lat Long     7043 non-null   object
 7   Latitude     7043 non-null   float64
 8   Longitude    7043 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 495.3+ KB
--------------------------------------------------
(1671, 3)
   ID  Zip Code  Population
0   1     90001       54492
1   2     90002       44586
2   3     90003       58198
3   4     90004       67852
4   5     90005       43019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1671 non-null   int64
 1   Zip Code    1671 non-null   int64
 2   Population  1671 non-null   int64
dtypes: int64(3)
memory usage: 39.3 KB
--------------------------------------------------
(7043, 30)
  Customer ID  Count Quarter Referred a Friend  Number of Referrals  \
0  8779-QRDMV      1      Q3                No                    0
1  7495-OOKFY      1      Q3               Yes                    1
2  1658-BYGOY      1      Q3                No                    0
3  4598-XLKNJ      1      Q3               Yes                    1
4  4846-WHAFZ      1      Q3               Yes                    1

   Tenure in Months    Offer Phone Service  Avg Monthly Long Distance Charges  \
0                 1      NaN            No                               0.00
1                 8  Offer E           Yes                              48.85
2                18  Offer D           Yes                              11.33
3                25  Offer C           Yes                              19.76
4                37  Offer C           Yes                               6.33

  Multiple Lines  ... Unlimited Data        Contract  Paperless Billing  \
0             No  ...             No  Month-to-Month                Yes
1            Yes  ...            Yes  Month-to-Month                Yes
2            Yes  ...            Yes  Month-to-Month                Yes
3             No  ...            Yes  Month-to-Month                Yes
4            Yes  ...            Yes  Month-to-Month                Yes

    Payment Method Monthly Charge Total Charges Total Refunds  \
0  Bank Withdrawal          39.65         39.65          0.00
1      Credit Card          80.65        633.30          0.00
2  Bank Withdrawal          95.45       1752.55         45.61
3  Bank Withdrawal          98.50       2514.50         13.43
4  Bank Withdrawal          76.50       2868.15          0.00

  Total Extra Data Charges Total Long Distance Charges Total Revenue
0                       20                        0.00         59.65
1                        0                      390.80       1024.10
2                        0                      203.94       1910.88
3                        0                      494.00       2995.07
4                        0                      234.21       3102.36

[5 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Quarter                            7043 non-null   object
 3   Referred a Friend                  7043 non-null   object
 4   Number of Referrals                7043 non-null   int64
 5   Tenure in Months                   7043 non-null   int64
 6   Offer                              3166 non-null   object
 7   Phone Service                      7043 non-null   object
 8   Avg Monthly Long Distance Charges  7043 non-null   float64
 9   Multiple Lines                     7043 non-null   object
 10  Internet Service                   7043 non-null   object
 11  Internet Type                      5517 non-null   object
 12  Avg Monthly GB Download            7043 non-null   int64
 13  Online Security                    7043 non-null   object
 14  Online Backup                      7043 non-null   object
 15  Device Protection Plan             7043 non-null   object
 16  Premium Tech Support               7043 non-null   object
 17  Streaming TV                       7043 non-null   object
 18  Streaming Movies                   7043 non-null   object
 19  Streaming Music                    7043 non-null   object
 20  Unlimited Data                     7043 non-null   object
 21  Contract                           7043 non-null   object
 22  Paperless Billing                  7043 non-null   object
 23  Payment Method                     7043 non-null   object
 24  Monthly Charge                     7043 non-null   float64
 25  Total Charges                      7043 non-null   float64
 26  Total Refunds                      7043 non-null   float64
 27  Total Extra Data Charges           7043 non-null   int64
 28  Total Long Distance Charges        7043 non-null   float64
 29  Total Revenue                      7043 non-null   float64
dtypes: float64(6), int64(5), object(19)
memory usage: 1.6+ MB
--------------------------------------------------
(7043, 11)
  Customer ID  Count Quarter  Satisfaction Score Customer Status Churn Label  \
0  8779-QRDMV      1      Q3                   3         Churned         Yes
1  7495-OOKFY      1      Q3                   3         Churned         Yes
2  1658-BYGOY      1      Q3                   2         Churned         Yes
3  4598-XLKNJ      1      Q3                   2         Churned         Yes
4  4846-WHAFZ      1      Q3                   2         Churned         Yes

   Churn Value  Churn Score  CLTV   Churn Category  \
0            1           91  5433       Competitor
1            1           69  5302       Competitor
2            1           81  3179       Competitor
3            1           88  5337  Dissatisfaction
4            1           67  2793            Price

                   Churn Reason
0  Competitor offered more data
1  Competitor made better offer
2  Competitor made better offer
3     Limited range of services
4            Extra data charges
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         7043 non-null   object
 1   Count               7043 non-null   int64
 2   Quarter             7043 non-null   object
 3   Satisfaction Score  7043 non-null   int64
 4   Customer Status     7043 non-null   object
 5   Churn Label         7043 non-null   object
 6   Churn Value         7043 non-null   int64
 7   Churn Score         7043 non-null   int64
 8   CLTV                7043 non-null   int64
 9   Churn Category      1869 non-null   object
 10  Churn Reason        1869 non-null   object
dtypes: int64(5), object(6)
memory usage: 605.4+ KB
--------------------------------------------------